
  <a href="{{ routes.root_url }}" data-menu-drawer data-drawer-options='{ "id":"#t4s-menu-drawer" }' class="t4s-push-menu-btn {{ push_menu }} t4s-lh-1 t4s-d-flex t4s-align-items-center" aria-label="Menu Toggle">
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="29" viewBox="0 0 40 29" fill="none" role="presentation">
    <rect width="40" height="5.32653" fill="#000F41"/>
    <rect y="11.8367" width="40" height="5.32653" fill="#000F41"/>
    <rect y="23.6735" width="40" height="5.32653" fill="#000F41"/>
  </svg></a>
{% comment %}
<a href="#menu" class="mm-menu-custom" aria-label="Mega Menu Toggle">
  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="29" viewBox="0 0 40 29" fill="none" role="presentation">
    <rect width="40" height="5.32653" fill="#000F41"/>
    <rect y="11.8367" width="40" height="5.32653" fill="#000F41"/>
    <rect y="23.6735" width="40" height="5.32653" fill="#000F41"/>
  </svg>
</a>
{% endcomment %}